@import 'components/querys';
@import 'components/fonts';
@import 'components/colors';
@import 'components/mixin';

@import 'sections/banner';

html{

    font-size: 62.5%;

    *, *::after, *::before{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body{
        font-size: 1rem; // 1rem = 10px

        p{
            font-size: 1.6rem;
            line-height: 1.2 !important;
        }
    }
}