.big_banner{
    background-color: $main;
    height: 80vh;
    
    .inner_banner{
        padding: 5rem;
        display: flex;
        align-items: center;
        gap: 3rem;
        justify-content: space-around;
    }

    .nombre{
        color: #fff;
        font-size: 4rem;
        font-weight: 900;
        font-size: text_bold;
    }

    .entryWords{
        color: #fff;
        .front{
            color: #fff;
        }
    }

    .typed-cursor{
        color: #fff;
    }

    .words{
        color: #fff;
        p{
            color: #fff;
        }
    }
}